.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.Caption {
  width: 600px;
  margin: 24px auto;
  font-size: 20px;
}

.Arrow{
  font-size: 2em;
  margin: 0px 12px;
}
